:root {
  --parameters-text: #a3a0a1;
}

.App {
  font-family: arial, sans-serif;
  background: #f2f2f4;
  padding: 20px 10px;
  border-radius: 25px;
  max-width: 600px;
  margin-top: 20px;
  text-align: center;
}

.Ahh h3 {
  font-size: 16px;
}

App .parameters {
  color: var(--parameters-text);
  font-size: 14px;
}

.App ul {
  list-style: none;
  padding: 0;
}

.App .weather-icon {
  width: 50px;
}

.App .temperature {
  font-weight: 700;
  font-size: 70px;
  padding-left: 10px;
  margin-top: 5px;
  line-height: 1;
}

.App .desription {
  font-size: 16px;
  color: var(--parameters-text);
}

.search-button:hover {
  cursor: pointer;
}

.additional-conditions {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px;
}
