:root {
  --parameters-text: #a3a0a1;
}

.CurrentWeather .parameters {
  color: var(--parameters-text);
  font-size: 14px;
}

.CurrentWeather ul {
  list-style: none;
  padding: 0;
}

.CurrentWeather .temperature {
  font-weight: 700;
  font-size: 70px;
  padding-left: 10px;
  margin-top: 5px;
  line-height: 1;
}

.CurrentWeather .unit {
  font-size: 16px;
  vertical-align: top;
  line-height: 1.8;
}

.CurrentWeather a {
  text-decoration: none;
  color: black;
}
.CurrentWeather .desription {
  font-size: 16px;
  color: var(--parameters-text);
}

.CurrentWeather .additional-conditions {
  display: flex;
  flex-wrap: wrap;
}
